

.main-header {
  padding:1rem;
  display:flex;
  align-items: center;
  justify-content: space-between;
  width:100%;
}


.app-title {
  position:absolute;
  width:100%;
  color:#fff;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.3rem;
  text-align: center;
  font-style:italic;
  opacity:.8;
  z-index:-1;
}
