@import url('https://fonts.googleapis.com/css?family=Exo+2:300,400,500,700&display=swap');


* {
  box-sizing: border-box;
  font-family: 'Exo 2', sans-serif;
}

.orbital-view {
  padding:0 2rem;
}

.ant-tabs {
  width:100%;
}

body {
  background-color: #212121;
}

