
.ant-badge-count {
  border-radius: 3px 3px 8px 3px;
  border:none;
  box-shadow:none;
  font-weight:700;
  font-size:1.2rem;
  background-color:#3B876E;
}

.ant-tabs-nav {
  font-weight:700;
  text-transform: uppercase;
  color:#fff;
}

.ant-tabs-bar {
  border-bottom:none;
}
.ant-tabs-nav .ant-tabs-tab {
  opacity:.6;
}

.ant-tabs-nav .ant-tabs-tab-active, .ant-tabs-nav .ant-tabs-tab-active:hover {
  color:#fff;
  opacity:1;
  font-weight:700;
}
.ant-tabs-ink-bar {
  background-color:#fff;
}
